{% extends 'base.html' %}

{% block content %}
  <h2 class='d-inline fs-2 fw-bold'>{% block subtitle %}{% endblock subtitle %}</h2>
  <hr>
  <div class="row my-5">
    <div class="col-2">
      <table class="table">
        <thead>
          <tr>
            <th scope="col"><p class="fs-5 fw-bold my-1">HOT 게시글</p></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th><a href="" class="btn m-0 p-0">게시글1</a></th>
          </tr>
          <tr>
            <th><a href="" class="btn m-0 p-0">게시글2</a></th>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-8 mx-5">
      <div>
        {% block detail %}
        {% endblock detail %}
      </div>
    </div>
  </div>
{% endblock content %}