{% extends 'account_base.html' %}

{% block subtitle %}내 정보{% endblock subtitle %}

{% block detail %}
  <form action="" method="POST">
    {% csrf_token %}
    <table class="table">
      <thead>
        <tr>
          <th scope="col"><p class="fs-5 fw-bold my-1">내 정보 관리</p></th>
        </tr>
      </thead>
      <tbody>
        {% for attr in form %}
          <tr>
            <th style='width:200px; line-height:2;' >{{ attr.label_tag }}</th>
            <th>{{ attr }}</th>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    <div "float-right py-3">
      <button type='submit' class='btn btn-dark'>수정</button>
      <button type='reset' class='btn text-decoration-underline'>취소</button>
    </div>
  </form>
{% endblock detail %}