{% extends 'base.html' %}

{% block content %}
  <h2>회원 가입</h2>
  <hr>
  <table>
    <form action="" method="POST">
      {% csrf_token %}
      <table class="table">
        <tbody>
          {% for attr in form %}
            <tr>
              <th style='width:200px; line-height:2;' >{{ attr.label_tag }}</th>
              <th>{{ attr }}</th>
              {% if attr.errors %}
                <p class="text-danger">{{ attr.errors }}</p>
              {% endif %}
            </tr>
          {% endfor %}
        </tbody>
      </table>
      <div "float-right py-3">
        <button class="btn btn-dark " type="submit">회원가입</button>
      </div>
    </form>
  </table>

  {% comment %} <form action="" method="POST">
    {% csrf_token %}
    {{ form.as_p }}

  </form> {% endcomment %}
{% endblock content %}